<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- Load the ASP.NET Core plugin -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="WeblogTarget" />
  </extensions>

  <targets>

    <target xsi:type="BufferingWrapper"
            name="AsyncLogger"
            bufferSize="200"
            flushTimeout="5000">

      <!--<target xsi:type="File" name="PrimaryLog" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} | ${exception:format=ToString}" fileName="${basedir}/App_Data/log_${shortdate}.log" />-->
      <target type="Weblog" host="https://logs.skytecs.ru/api/messages">
        <layout xsi:type="JsonLayout">
          <attribute name="source" layout="Skytecs.Hermes" />
          <attribute name="time" layout="${longdate}" />
          <attribute name="level" layout="${level:upperCase=true}"/>
          <attribute name="message" layout="${message}" />
          <attribute name="exception" layout="${exception:ToString}" />
          <attribute name="application" layout="${processname}" />
          <attribute name="version" layout="${assembly-version}" />
          <attribute name="processtime" layout="${processtime}" />
        </layout>
      </target>

    </target>

  </targets>
  <rules>
    <!--<logger name="Default" minlevel="Trace" writeTo="PrimaryLog" />-->
    <logger name="*" minlevel="Trace" writeTo="AsyncLogger" />
  </rules>
</nlog>